.cart-page {
  background-color: #f5f5f5;
  padding-top: 30px;
  margin-left: auto;
  margin-right: 0;

}


.cart-page h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.cart-page h1 p {
  font-size: 20px;
  font-weight: normal;
  margin-top: 10px;
  /* margin-left: 0; */
}

.cart-page h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cart-page p {
  font-size: 18px;
  font-weight: normal;
}

.cart-page hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #ddd;
}

.cart-page .card {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 25%;
}

.cart-page .card p {
  margin-bottom: 10px;
}

.cart-page .cart-remove-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-page .cart-remove-btn button {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
}

.cart-page .cart-summary {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.cart-page .cart-summary p {
  margin-bottom: 10px;
}

.cart-page .cart-summary button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .cart-page .card {
    flex-direction: column;
  }

  .cart-page .card img {
    width: 100%;
    height: auto;
  }

  .cart-page .col-md-7 {
    margin-bottom: 30px;
  }
}
